
:root{
    --primary: #201f1b ;
    --secondary:#3d8e39 ;
   --fourth: white;
}

body{
  background-color: var(--primary);
  height: 100vh;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}
/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen landing page */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* --------------Header styles------------ */

.nav-1{
background-color: #3d8e39!important;
border-style: solid;
border-color:var(--secondary);
}
/* Header styling */
.header h1 {
  font-size: 3rem;
}
.header p {
  font-size: 1.5rem;
  margin-top: 10px;
}
.nav-1:hover{
  color: white;
}

/* ----------- INDEX.HTML PAGE!!!!!--------- */

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: white;
  text-align: center;
  background-image: url(./images/Poison\ Ice\ Wallpaper.png);
  /* border: 1px, white, solid; */
  padding: 10em;
}
.bottles{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 2em;
}
.bottle-1{
  display: flex;
  flex-direction: row;
  border-radius: 70px;
  height: 300px;
} 
.bottle-1:hover{
  box-shadow: .1px .1px 6px .1px  white;
  cursor: pointer;
}

.bottle-2{
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  height: 300px;
} 
.bottle-2:hover{
  box-shadow: .1px .1px 6px .1px  white;
  cursor: pointer;
}

.bottle-3{
  display: flex;
  flex-direction: row;
  border-radius: 70px;
  height: 300px;
} 
.bottle-3:hover{
  box-shadow: .1px .1px 6px .1px  white;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .landing-container{
    padding: 0;
  }
  .bottle-1 {
    display: none;
  }
  .bottle-3 {
    display: none;
  }
  .cta-button{
    height: 2em;
    width: 3em;
    margin-top: 0;
    padding: 0;
  }
  }


/* Call to action button MAIN PAGE*/
.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  color: var(--secondary);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: #388E3C;
  color: white;
  border: 1px solid var(--secondary);
}
.info-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--secondary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.info-button:hover {
  background-color: white;
  color: var(--primary);
}




/* -----------PRICES.HTML PAGES  CSS ------------- */

.prices-container{
height: 90vh;
justify-content: space-around;
display: flex;
flex-direction: row;
background-image: url(./images/Poison\ Ice\ Wallpaper.png);
}
.one-pack-container {
 width: 40%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
}
.three-pack-container {
 width: 70%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
}
.threepack-header{
display: flex;
flex-direction: rorw;
justify-content: center;
align-items: center;
gap: 10px;
}
.one-pack{
  display: flex;
  justify-self: center;
  align-items: center;
}
.cta-button-45{
  
  padding: 10px 20px;
  background-color: white;
  color: var(--secondary);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: #388E3C;
  color: white;
  border: 1px solid var(--secondary);
}
@media screen and (max-width: 500px) {
  .prices-container {
    flex-direction: column;
    padding: 0;
    height: 100vh;
  }
  .one-pack-container{
    width: 100%;
    margin: 1em;
  }
  .three-pack-container{
    width: 100%;
    margin: 1em;
  }

}
/* -----------contact.html page---------- */
.poison-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 2em;
  align-items: center;
  color: white;
  border: 1px solid white;
}
.bullet-points {
  font-weight: bold;
  font-size: 1.1em;
}
.bullet-alignment-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0;
  padding: 0;
  margin-left: 0;
}
.input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8em;
  padding: 6em;
  color: white;
  background-image: url(./images/Poison\ Ice\ Wallpaper.png);
}

.purchase{
  display: flex;
  flex-direction: column;
  border: 1px, solid, white;
  padding: 4em;
}
.contact-ice-1{
  border-radius: 50px;
  height: 14em;
  aspect-ratio: 9/9;
}
.contact-ice-2{
  border-radius: 40px;
  height: 14em;
  aspect-ratio: 9/9;
}
.contact-ice-3{
  border-radius: 40px;
  height: 14em;
  aspect-ratio: 9/9;
}
.contact-ice-4{
  border-radius: 40px;
  height: 14em;
  aspect-ratio: 40/10;
}
.purchase-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 50%;
}
.star{
  display: flex;
  flex-direction: row;
}
.review{
  color: var(--secondary);
}
.review:hover{
  color: white;
}

.contact-button {
  background-color: #388E3C;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 2em;
  width: 6em;
  font-size: 1.5em;
  transition: background-color 0.3s ease;
}
.contact-button:hover {
  background-color: white;
  color: var(--secondary);
}


@media screen and (max-width: 500px) {
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    gap: 0;
  }
  .purchase{
    display: flex;
    justify-content: center;
    border: none;
    padding: 2em;
  }
  hr {
    display: none;
  }
  .contact-ice-2 {
    display: none;
  }
  .contact-ice-3 {
    display: none;
  }
  .contact-ice-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
  }
}


/* -------------ABOUT.HTML------------ */
.about-container{
  height: 90vh;
  display: flex;
  flex-direction: row;
  background-image: url(./images/Poison\ Ice\ Wallpaper.png);
  padding-top: 50px;
  }
  .poison-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2em;
    align-items: center;
    color: white;
  }
.input-text{
  display: flex;
  justify-content: center;
}
/* --------------FOOTER ------------- */

.footer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
text-decoration: none;
padding: .75em;
opacity: 90%;
color: white;
background: linear-gradient(to bottom,#1f1e1b,rgb(38, 38, 36) ); 
}

@media screen and (max-width: 500px) {
  .footer{
    display: flex;
    flex-direction: column;
    background: none;
  }

}