
:root{
    --primary: #201f1b ;
    --secondary:#3d8e39 ;
   --fourth: white;
}

body{
  background-color: var(--primary);
  height: 100vh;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}


.nav-1{
background-color: #3d8e39!important;
border-style: solid;
border-color:var(--secondary);
color: white !important;
}


/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-screen landing page */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Container for the landing page content */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: white;
  text-align: center;
  background-image: url(./images/Poison\ Ice\ Wallpaper.png);
  /* border: 1px, white, solid; */
  padding: 100px;
}

.bottles{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 2em;
}

.bottle{
  display: flex;
  flex-direction: row;
  border-radius: 70px;
  height: 300px;
} 
.bottle:hover{
  box-shadow: .1px .1px 6px .1px  white;
  cursor: pointer;
}

/* Header styling */
.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Call to action button */
.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
  color: #4CAF50;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #388E3C;
  color: white;
}



.prices-container{
height: 90vh;
display: flex;
flex-direction: row;
background-image: url(./images/Poison\ Ice\ Wallpaper.png);
}

.one-pack-container {
 width: 40%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
}

.three-pack-container {
 width: 60%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
 
}
.threepack-header{
display: flex;
flex-direction: rorw;
justify-content: center;
align-items: center;
}


footer {
  position: relative;
  color:  white;
  height: 5em;
  /* border: 1px, solid, rgb(240, 236, 236); */
  background: linear-gradient(to bottom,#1f1e1b,rgb(38, 38, 36) ); 
}
.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-left: 10em;
padding-right: 10em;
}
